.profile__info {
  display: grid;
  grid-template-columns: 1fr 24px;
  grid-gap: 12px 18px;
  align-self: center;
  width: 336px;
  margin: 0;
  margin-left: 30px;
}

@media screen and (max-width: 1070px) {
  .profile__info {
    width: 250px;
    margin-left: 0;
    margin-bottom: 33px;
    align-items: center;
    transform: translateX(15px);
  }
}

@media screen and (max-width: 568px) {
  .profile__info {
    grid-template-columns: 1fr 18px;
    grid-gap: 5px 10px;
    width: 242px;
    align-self: flex-start;
  }
}