@import url(../src/vendor/normalize.css);

/*  Fonts  */
@import url(../src/vendor/fonts/fonts.css);

/*  Page  */
@import url(../src/blocks/page/page.css);
@import url(../src/blocks/page/__header/page__header.css);

/*  Body  */
@import url(../src/blocks/body/body.css);

/*  Auth  */

@import url(../src/blocks/auth/auth.css);
@import url(../src/blocks/auth/__button/auth__button.css);
@import url(../src/blocks/auth/__container/auth__container.css);
@import url(../src/blocks/auth/__form/auth_form.css);
@import url(../src/blocks/auth/__input/auth__input.css);
@import url(../src/blocks/auth/__title/auth__title.css);

/*  Header  */
@import url(../src/blocks/header/header.css);
@import url(../src/blocks/header/__link/header__link.css);
@import url(../src/blocks/header/__logo/header__logo.css);

/*  Button  */
@import url(../src/blocks/button/button.css);

/*  Content  */
@import url(../src/blocks/content/content.css);

/*  Profile  */
@import url(../src/blocks/profile/profile.css);
@import url(../src/blocks/profile/__content/profile__content.css);
@import url(../src/blocks/profile/__avatar/profile__avatar.css);
@import url(../src/blocks/profile/__description/profile__description.css);
@import url(../src/blocks/profile/__username/profile__username.css);
@import url(../src/blocks/profile/__button-add/profile__button-add.css);
@import url(../src/blocks/profile/__button-edit/profile__button-edit.css);
@import url(../src/blocks/profile/__button-avatar-edit/profile__button-avatar-edit.css);
@import url(../src/blocks/profile/__info/profile__info.css);

/*  Elements  */
@import url(../src/blocks/elements/elements.css);
@import url(../src/blocks/elements/__content/elements__content.css);

/*  Element  */
@import url(../src/blocks/element/element.css);
@import url(../src/blocks/element/__image/element__image.css);
@import url(../src/blocks/element/__button-bin/element__button_bin.css);
@import url(../src/blocks/element/__description/element__description.css);
@import url(../src/blocks/element/__place/element__place.css);
@import url(../src/blocks/element/__button-like/element__button-like.css);
@import url(../src/blocks/element/__button-like/_active/element__button-like_active.css);
@import url(../src/blocks/element/__likes-container/element__likes-container.css);
@import url(../src/blocks/element/__like-counter/element__like-counter.css);

/*  Footer  */
@import url(../src/blocks/footer/footer.css);
@import url(../src/blocks/footer/__copyright/footer__copyright.css);

/*  Popup  */
@import url(../src/blocks/popup/popup.css);
@import url(../src/blocks/popup/__container/popup__container.css);
@import url(../src/blocks/popup/__form/popup__form.css);
@import url(../src/blocks/popup/__button-close/popup__button-close.css);
@import url(../src/blocks/popup/__title/popup__title.css);
@import url(../src/blocks/popup/__title-photo/popup__title-photo.css);
@import url(../src/blocks/popup/__input/popup__input.css);
@import url(../src/blocks/popup/__button-save/popup__button-save.css);
@import url(../src/blocks/popup/_opened/popup_opened.css);
@import url(../src/blocks/popup/__container-image/popup__container-image.css);
@import url(../src/blocks/popup/__container/_type/popup__container_type_edit-avatar.css);
@import url(../src/blocks/popup/__container/_type/popup__container_type_delete-card.css);
@import url(../src/blocks/popup/__photo/popup__photo.css);
@import url(../src/blocks/popup/__input-error/popup__input-error.css);
@import url(../src/blocks/popup/__input-error/_visible/popup__input-error_visible.css);
@import url(../src/blocks/popup/__input/popup__input.css);
@import url(../src/blocks/popup/__input/_type/popup__input_type_error.css);

/*  Button inactive */
@import url(../src/blocks/button/_inactive/button_inactive.css);